
.gitignore
.idea/inspectionProfiles/
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules
node_module/
.idea/workspace.xml
config/database.js
config/auth.js